* {
    text-align: center;
    padding:0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #FFFDE4;
}

#goback {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #033968;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
}